@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&display=swap');
/*** Home ***/
.home {
    height: 100vh;
    width: 100%;
    position: relative;
}

/* .homeimg {
    width: 100%;
    height: 90%;
    margin-top: 50px;
} */

.navhead {
    border-bottom: 2px solid blue;
    border-radius: 10px;
    background: linear-gradient(to left, white);
}

.hmhead {
    color: rgb(231, 108, 63);
    font-size: 100%;
    /* padding: 1%; */

}

.homepage {
    padding: 8%;
}

.homename {
    color: rgb(214, 18, 35);
    font-size: 300%;
    /* font-family: 'New Rocker'; */

}

.hey {
    font-size: 250%;
    font-family: 'Battambang', cursive;
    font-size: 600;
    font-weight: bolder;
    padding: 1%;


}

#hey {
    font-size: 250%;
    font-family: 'Battambang', cursive;
    font-size: 600;
    font-weight: bolder;


}

#hey1 {
    font-size: 180%;
    font-family: 'Battambang', cursive;
    font-size: 600;
    font-weight: bolder;



}

.hmbtn:hover {
    background: linear-gradient(to left, rgb(243, 93, 185), coral) !important;

}


.hmbtn {       
        border-radius: 47px;
    background: linear-gradient(to left, blueviolet, violet);
    font-family: Georgia, 'Times New Roman', Times, serif;    
    
    border: none; 
    font-size: 13px;
    height: 60px;
    letter-spacing: 3px;
    width: 180px;
}



/*** About ***/

.abtitle {
    font-family: 'Battambang', cursive;


}

.f1 {
    color: orangered;
}

.f2 {
    color: yellow;
}

.f3 {
    color: rgb(20, 148, 199);
}

.f5 {
    color: rgb(108, 11, 199);
}

.f6 {
    color: green;
}

.f7 {
    color: crimson;
}

.itext {
    font-size: 75%;
}

.aboutme {
    color: rgb(231, 108, 63);
}

.button {

    background: linear-gradient(to left, blueviolet, violet);
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 45%;
    height: 50px;
    
    border: none;


}

.button:hover {
    background: linear-gradient(to left, rgb(243, 93, 185), coral);

}


.about {
    justify-content: center;
    align-items: center;
    display: flex;
    /* background: linear-gradient(to left,white,violet); */
    min-height: 100vh;
    width: 100%;
    position: relative;
    margin-top: -16%;

}

.circle {
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
    margin-bottom: 3%;
    margin-top: 9%;
    transition: 1s;
}

.circle img {
    position: absolute;
    height: 350px;
    top: 4%;
    left: 14%;
    border-radius: 50%;
    filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, .4));
    transition: 1s;

}

.circle:hover {
    width: 800px;
    height: 450px;
    border-radius: 50px;
    transition: 1s;
   /* margin-top: 5%; */
}

.circle:hover img {
    position: absolute;
    top: 0%;
    left: 0%;
    transition: 1s;
}

.circle:hover .content {
    position: absolute;
    top: 15%;
    right: 1%;
    width: 50%;
    opacity: 1;
    transition: 1s;
}

.circle .content {
    opacity: 0;
}
@media only screen and (max-width:768px) {
    .circle {
        width: 400px;
        height: 400px;
        background: white;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
        margin-bottom: 3%;
        margin-top: 59%;
        transition: 1s;
    }
}
@media screen and (max-width:576px){
    .circle {
        width: 420px;
        height: 400px;
        background: white;
        
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, .7);
        margin-bottom: 5%;
        margin-top: 54%;
        transition: 1s;
    }
    .circle:hover img {
        position: absolute;
        top: 0%;
        left: 8%;
        transition: 1s;
    }
    .circle:hover {
        width: 500px;
        height: 900px;
        border-radius: 50px;
        transition: 1s;
        margin-bottom: 0%;
    }
    .circle:hover .content {
        position: absolute;
        top:40%;
        padding: 15px;
        right: 1%;
        width: 100%;
        opacity: 1;
        transition: 1s;
    }
    
    .circle .content {
        opacity: 0;
    }
    .circle img {
        position: absolute;
        height: 350px;
        top: 4%;
        left: 10%;
        margin-right: -5% !important;
        border-radius: 50%;
        filter: drop-shadow(0px 30px 15px rgba(0, 0, 0, .4));
        transition: 1s;
    
    }
}
/*** Skills***/
@media  screen and (max-width: 576px) {
    .skills .container {
      margin-bottom: 20% !important;
    }
  }




.skillhead {

    color: rgb(231, 108, 63);
}


.skill_text {
    font-family: 'Alexandria', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    
}


.skill_img {
    width: 70px;
    height: 70px;
    padding-bottom: 5px;
    transition: 0.5s;
    cursor: pointer;
    
}

.skill_img:hover{
    transition: transform 1.5s;
}

.probtn {
    border-radius: 50px !important;
    font-size: 14px !important;
    background: linear-gradient(to left, rgb(153, 86, 216), violet);
}

.probtn:hover {
    background: linear-gradient(to left, rgb(243, 93, 185), coral);
}

.navi {
    font-size: 14Px;
}

.nav-item:active {
    font-weight: bolder !important;
}

/* .bt {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #05131b;
    cursor: pointer;
    font-size: 18px;
  }
   */
/* Style the active class, and buttons on mouse-over */
.active {  

    font-weight: bold !important;

}

.bar:hover {
    border-bottom: 3px solid blueviolet;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 0%;
    font-weight: bold;




}

.contact {
    /* height: 80vh;
    width: 100%; */
    /* margin-top: -24px; */
    /* position: reative; */
    /* margin-bottom: -700px; */
}

/* @media only screen and (max-width: 576px) {
    .contact {
        margin-bottom: 65%;
    }
  } 
  @media only screen and (min-width: 576px) {
    .contact {
        margin-bottom: 45%;
    }
  }  */


.contacttext {
    font-size: 20px;

}

.formbt {
    background: linear-gradient(to left, blueviolet, violet);
    outline: none;
    border: none;
    font-size: 800vh;
}

.formbt:hover {
    background: linear-gradient(to left, rgb(243, 93, 185), coral);
    outline: none;
    border: none;
}


/* .copywrite {
    width: 100%;
    display: flex;
    padding: 15px 0 0 0;
    align-items: center;
    justify-content: center;
  }

  .footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
@media only screen and (max-width: 390px) {
    .footer-info {
      padding-left: 10px;
      padding-right: 10px;
    }
  } */
 /* Footer */
/* .footer {
    max-width: 100%;
    background-color: rgb(150, 147, 142);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 1rem 0;
  }
  
  .footer-title {
    font-size: 1.5rem;
    margin-bottom: var(--mb-2);
  } */

  @media  screen and (max-width:576px){
    .footer{
        margin-top: 540px;
        
    }
  }